<!DOCTYPE html>
<html>
    <head>
        <title>Inscrire</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="subbody">
            <div class="container">
                <h2>Inscrire</h2>
                <form method="POST" action="/add_admin">
                    <div class="subcontainer">
                        <input type="text" name="name" placeholder="Nom d'utilisateur" required><br>
                        <input type="password" name="password" placeholder="Mot de passe" required>
                    </div>
                    <button type="submit">Inscription</button>
                </form>
            </div>
        </div>
    </body>
</html>