<!DOCTYPE html>
<html>
    <head>
        <title>Résultat</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="subbody">
            <div class="container">
                {{#solution}}
                <p style="color: green">Victoire !</p>
                <a href="/">Accueil</a>
                {{/solution}}

                {{^solution}}
                <p style="color: red">Faux !</p>
                <a href="/quiz/{{id}}">Réessayer</a>
                {{/solution}}
            </div>
        </div>
    </body>
</html>