<!DOCTYPE html>
<html>
    <head>
        <title>{{ue.title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <h2>{{ue.title}}</h2>
            <h3>ECTS</h3> <p>{{ue.ects}}</p>
            <h3>Nombre d'heures</h3> <p>{{ue.vol_h}}</p>
            
            <h3>Description</h3>
            <p> {{ue.description}}</p>
            
            {{#session.authenticated}}
                <a href="/update_ue/{{ue.id}}">Modifier</a>
            {{/session.authenticated}}
            
            <a href="/quiz/{{ue.question_id}}">Quiz</a>
        </div>
    </body>
</html>