<!DOCTYPE html>
<html>
    <head>
        <title>update_ue</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <h2>Modifier</h2>
            <form method="POST" action="/update_ue/{{ue.id}}">
                <div class="subcontainer">
                    <h3>Titre</h3>
                    <input type="text" name="title" value="{{ue.title}}" required><br>
                    
                    <h3>Description</h3>
                    <input type="text" name="description" value="{{ue.description}}" required><br>
                    
                    <h3>ECTS</h3>
                    <input type="text" name="ects" value="{{ue.ects}}" required><br>
                    
                    <h3>Nombre d'heures</h3>
                    <input type="text" name="vol_h" value="{{ue.vol_h}}" required><br>
                </div>

                <button type="submit">Valider</button>
            </form>
        </div>
    </body>
</html>