body {
	background-color: #20202a;
	color: white;
	font-family: Arial;
	min-height: 100vh;
	margin: 0;
}

.subbody {
	display: grid;
	place-items: center;
	min-height: 100vh;
	height: 97vh;
	width: 97vw;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 20px;
}

.subcontainer h1, .subcontainer h2, .subcontainer h3, .subcontainer h4, .subcontainer h5, .subcontainer h6 {
	margin: 10px;
}

a {
	text-decoration: none;
	/*color: rgb(30,70,150); light mode*/
	color: rgb(225, 185, 105); /*dark mode*/
}

a:hover {
	text-decoration: underline;
}

.container {
	margin: 50px;
	border-radius: 10px;
	padding: 50px;
	max-width: fit-content;
	text-align: center;
	background-color: #303030;
}

.container ul {
	list-style-type: none;
	padding: 0;
}

.subcontainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

input, textarea {
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	padding: 6px 10px;
	border-radius: 5px;
	background-color: #1e1e1e;
	color: white;
	font-family: inherit;
}
input:focus, textarea:focus {background-color: #262626;}

button {
	margin: 0.5px;
	border: none;
	padding: 6px 10px;
	border-radius: 5px;
	background-color: #1e1e1e;
	color: white;
}
button:hover {background-color: #262626;}
button:active {background-color: #161616;}